.body {
    min-height: 100vh;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.term {
    width: 50%;
    margin: 40px auto;
    border-radius: 30px;
    font-size: xx-large;
    border: solid 1px #000;
    color: #FFD5EC;
    padding: 10px 0;
}

.context {
    background: #99CCCC;
    padding: 20px;
    border-radius: 10px;
}

.button {
    height: 80px;
    width: 80%;
    border-radius: 30px;
    background: #FFD5EC;
    font-size: xx-large;
    color: #000000;
    margin: 20px 0;
    border: none;
    cursor: pointer;
}

.button:hover {
    background: #ff99cc;
}

.pawlovers-img {
    width: 60%;
    margin-top: 20px;
}
