body {
    background: #FFD5EC;
    margin: 0;
}


.white {
    height: 500px;
    padding: 20px;
    background: #ffffff;
    border-radius: 15px;
    margin: 40px 100px;
}

.post {
    padding: 10px;
    background: #FFD5EC;
    border-radius: 15px;
    height: 480px;
    display: flex;  
    gap: 20px;
}

.file {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed #c3a8ca;
    padding: 20px;
    text-align: center;
    background: #f3e6ff;
    border-radius: 10px;
    margin: 10px;
}

input[type="file"] {
    cursor: pointer;
    font-size: 16px;
}

.form {
    flex: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input[type="text"],textarea {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

textarea {
    height: 320px;
    resize: none;
}

::placeholder {
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 60%;
}

.button {
    flex: 1;
    font-size: xx-large;
    width: 40%;
    color: #000;
    border: none;
    border-radius: 30px;
    padding: 10px;
    margin: 20px;
    cursor: pointer;
    text-align: center;
}

.button.return {
    background: #bbb;
}

.button.register {
    background: #b09bd1;
}

.button.register:hover {
    background: #c3a8ca;
}

.button.return:hover {
    background: #8e8d8d;
}
