/* ユーザの会員情報選択画面のCSS */
body {
    background-color: #FFD5EC;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif; /* フォントを指定 */
}

.right {
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

button {
    font-size: large;
    width: 90%;
    height: 125px;
    background: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 40px;
}

.menu {
    background: #b09bd1;
    height: 100px;
    width: 50%;
}

.important {
    background: #ff8d78;
    height: 100px;
    width: 50%;
}

#main-btn:hover {
    background: #c3a8ca;
}

.menu:hover {
    background: #9a88c7;
}

.important:hover {
    background: #ff7d66;
}

.center {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
}

#member {
    text-align: center;
    margin: 40px auto;
    border-radius: 30px;
    padding: 10px 0;
    width: 50%;
    border: solid 1px;
    font-size: xx-large;
    background: #ffffff;
    color: #FFD5EC;
}

#advertisement {
    width: 90%;
    height: 550px;
    text-align: center;
    border: 1px solid;
}

#advertisement2 {
    width: 90%;
    height: 750px;
    margin-top: 20px;
    text-align: center;
    border: 1px solid;
}
