body {
    background-color: #FFD5EC;
    display: flex;
    justify-content: center; 
    align-items: center;    
    margin: 0;              
}

.right {
    flex: 1;
    justify-content: center; 
    align-items: center;
    text-align: center;
}

.left {
    flex: 1;
    display: flex; 
    flex-direction: column;
    align-items: center;
    text-align: center;
}

button {
    font-size: large;
    width: 90%; 
    height: 125px;
    background: #ffffff;  
    border: none;
    cursor: pointer;
    border-radius: 20px;  
    margin-bottom: 40px;    
}

#ok {
    background: #ff8d78;
    margin-top: 20px;
    height: 60px;
    width: 40%; 
}


#main-btn:hover {
    background: #c3a8ca; 
}

#ok:hover {
    background: #ff7d66;
}


.center {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start; 
}

#white {
    background: #ffffff; 
    width: 80%;
    display: flex;           
    align-items: center;     
    justify-content: space-around;
    text-align: center;
    padding: 20px;           
    border-radius: 20px;       
}

#photo {
    text-align: center;
    border: solid 1px;
    font-size: xx-large;
    width: 30%;             
    height: 200px;           
    display: flex;            
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

#information {
    display: flex;
    flex-direction: column;    
    align-items: center;       
    text-align: center;
    width: 50%;               
}

input {
    width: 100%;
    height: 40px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: medium;
    margin: 20px;
}

textarea {
    width: 100%;
    height: 100px; 
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: medium;
    margin: 20px;
    resize: none; 
}



#pet {
    align-items: center;
    text-align: center;
    margin: 40px auto;
    border-radius: 30px;
    padding: 10px 0;
    width: 50%;
    border: solid 1px;
    font-size: xx-large;
    background: #ffffff;
    color: #FFD5EC;
}

#advertisement {
    width: 90%; 
    height: 550px;
    text-align: center;
    border: 1px solid;
}


#advertisement2 {
    width: 90%; 
    height: 750px;
    margin-top: 20px;    
    text-align: center;
    border: 1px solid;
}

::placeholder {
    text-align: center;
}
