/* top.css */
body {
    background-color: #FFD5EC;
    margin: 0;
}

.top {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

button {
    font-size: xx-large; 
    width: 30%; 
    border: none;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px;
    color: white; /* テキストを白色に */
    transition: background-color 0.3s; /* スムーズな色の変化 */
    background: #b09bd1;
}

#post-btn {
    background: #b09bd1;
}

#mypage-btn {
    background: #FF9999;
}

#post-btn:hover {
    background: #9a88c7;
}

#mypage-btn:hover {
    background: #FF6666;
}

.bottom {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.advertisement {
    width: 20%;
    height: 500px;
    border: 1px solid;
    text-align: center;
}

.media {
    width: 50%;
    height: 500px;
    border: 1px solid;
    text-align: center;
}

/* レスポンシブ対応（オプション） */
@media screen and (max-width: 768px) {
    button {
        width: 40%;
        font-size: x-large;
    }

    .advertisement {
        width: 20%;
    }

    .media {
        width: 45%;
    }
}