.body {
    min-height: 100vh; /* 高さ指定 */
    text-align: center; /* 中央揃え */
    font-size: medium; /* 文字の大きさ */
    background: #FFD5EC; /* 背景色 */
    display: flex;
    align-items: center; /* 上下中央寄せ */
    justify-content: center; /* 左右中央寄せ */
}             

.left, .right {
    flex: 1;
    display: flex;
    flex-flow: column; /* 縦並び */
    align-items: center; /* 上下中央寄せ */
    justify-content: center; /* 左右中央寄せ */
}

.topButton {
    height: 125px;
    width: 90%; 
    font-size: large; /* 文字の大きさ */ 
    border: none; /* 枠線 */
    border-radius: 30px; /* 丸み */
    background: #fff; /* 背景色 */
    margin-bottom: 40px; /* 上の余白(外側) */
    cursor: pointer; /* カーソル変更 */   
}

.topButton:hover {
    background: #f8cfd9; /* 背景色 */
}

.petButton, .nyakamaButton, .memberButton {
    height: 100px;
    width: 90%; 
    font-size: large; /* 文字の大きさ */
    border: none; /* 枠線削除 */
    border-radius: 30px; /* 丸み */
    background: #b09bd1; /* 背景色 */
    margin-bottom: 40px; /* 上の余白(外側) */
    cursor: pointer;    
}

.petButton:hover, .nyakamaButton:hover, .memberButton:hover {
    background: #9a88c7; /* 背景色 */
}

.inquiry {
    width: 90%;
    background: #fff; /* 背景色 */
    padding: 35px 0; /* 上下左右の余白(内側) */
    margin: 0 auto; /* 上下左右の余白(外側) */
}

.center {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
}

.title {
    text-align: center;
    margin: 40px auto;
    border-radius: 30px;
    padding: 10px 0;
    width: 50%;
    border: solid 1px;
    font-size: xx-large;
    background: #fff; /* 背景色 */
    color: #FFD5EC;
}

.media {
    width: 90%; 
    height: 650px;
    border: 1px solid;
}

.advertisement {
    width: 90%; 
    height: 750px;
    margin-top: 20px;    
    text-align: center;
    border: 1px solid;
}
