/* ユーザのマイページのCSS */
body {
    background-color: #FFD5EC;
    display: flex;
    justify-content: center; 
    align-items: center;    
    margin: 0;              
}

.left, .right {
    flex: 1;
    justify-content: center; 
    align-items: center;
    text-align: center;
}

button {
    font-size: large;
    width: 90%; 
    height: 125px;
    background: #b09bd1;  
    border: none;
    cursor: pointer;
    border-radius: 20px;  
    margin-bottom: 40px;    
}

.menu {
    background: #b09bd1;
    height: 100px;
    width: 90%; 
}

.menu:hover {
    background: #9a88c7;
}

#main-btn:hover {
    background: #c3a8ca; 
}

#inquiry {
    width: 90%; 
    padding: 35px 0;
    background: #ffffff;
    margin: 0 auto;
}

.center {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
}

#mypage {
    text-align: center;
    margin: 40px auto;
    border-radius: 30px;
    padding: 10px 0;
    width: 50%;
    border: solid 1px;
    font-size: xx-large;
    background: #9a88c7;
    color: #FFD5EC;
}

#media {
    width: 90%; 
    height: 650px;
    border: 1px solid;
}

#advertisement {
    width: 90%; 
    height: 750px;
    margin-top: 20px;    
    text-align: center;
    border: 1px solid;
}
